.git
.gitignore
.github
.idea
.vscode
.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
bootstrap/cache/*.php

tests
phpunit.xml
phpstan.neon
.phpunit.result.cache

Dockerfile
.dockerignore
docker-compose*.yml

README.md
CHANGELOG.md
docs
